.homepage{
    height: 100vh;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 30px;
    box-shadow: 0 0 30px var(--panel-dmode);
    overflow: hidden;
}

.hero-info{
    margin: 0 30px;
}

.hero-content h1{
    font-size: clamp(50%,5.5vw,var(--h1-font-size));
}

.hero-content p{
    font-size: clamp(50%,3vw,var(--normal-font-size));
}

.hero-content span{
    color: var(--d-primary);
}

@media (max-width: 760px){
    .hero{
        flex-direction: column-reverse;
    }

    .hero-img{
        width: 350px;
        height: 350px;
        margin-bottom: 30px;
    }
}